* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: full;
    width: full;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

#navList {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    list-style-type: none;
    padding: 10px;
}

.navContainer {
    /* width: 100vw; */
    /* background-color: rgb(120, 192, 221); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    min-height: 80px;
}

#navlogo {
    font-size: 2.8rem;

}

#navText {
    display: flex;
    gap: 40px;
    font-size: 2.8rem;
}

a {
    text-decoration: none;
    color: black;
}

.footerBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 40px;
    text-align: center;
    font-size: 2rem;
}
.main{
    
    display :flex;

}

.contentBox{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:15%;
    margin-right:15%;
    /* align-items: center; */
    width: 70%;
    display:flex;
    justify-content: space-between ;
    /* margin: auto; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding: 3rem; */
}
.rightBox{
    margin-left:25%;
}
.item{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-top: 30px;
    
}

.rightBox img{
    height: 300px;
    width: 200px;
    border-radius: 20px; 
    transition: all 0.6s linear 0s;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5%;

}

.leftBox h2{
    font-size: 2rem;
    
}

.rightBox img:hover{
    transform: scale(1.1);
}

